
{% include 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <table class="table">
        <thead class="table-dark">
        
        </thead>
        <tbody>

            {# <h2> Liens vers nos différentes boutiques en ligne</h2>
            <nav class="navbar navbar-expand-lg navbar-red bg-red">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/acceuil">Acceuil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">BoutiqueAmazon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">BoutiqueCDiscount</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">BoutiqueEbay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">BoutiqueEtsy</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">BoutiqueGonnaOrder</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">BoutiqueShopify</a>
                        </li>
                    </ul>
                </div>
            </nav> #}
        </tbody>
    </table>

{% endblock %}




















{# {% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
<style>
    {
        padding:0px;
        margin:0px;
    }
    body{
        background-color:#e0e0e0;
    }
    .wrap {
        width:900px;
        margin: 0 auto;
        background-color:#ffffff;
    }
    #topper {
        background-color:#FFA040;
        color:#774b1e;
        text-align:right;
        height:43px;
    }
    #topper img {
        float:left;
        padding:5px;
    }
    #topper h1 {
        margin:0 30px 0 0;
        text-align: left;
    }
    #topmenu {
        color:#FFe573;
        height:20px;
    }
    #topmenu ul {
        margin:none;
    }
    #topmenu ul li{
        list-style-type:none;
        float:left;
        display:block;
        width:150px;
        background-color:#a65400;
        color:#ff8100;
        text-align:
    }
    #topmenu ul li:hover{
        background-color:#ff8100;
        color:#774b1e;
    }
    #sidemenu {
        float:left;
        width:100px;
    }
    #content {
        float:right;
        width:780px;
    }
    
</style>
<div class="wrap">
  <div id="topper">
    <img src="https://cdn.shopify.com/s/files/1/0576/3042/5253/files/memepoterie-logo-temporaire_2575c810-3f14-4a49-82cb-36ff2a0faa75_360x.png?v=1633722744" height=30 >
    <h1>Acceuil</h1>
  </div>
  <div id="topmenu">
    <ul>
      <li>Accueil</li>
      <li>Qui sommes-nous ?</li>
      <li>Boutique</li>
      <li>Restaurant</li>
    </ul>
  </div>
  <div id="content">
        <h2>De Finibus Bonorum et Malorum</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
        <h2>De Finibus Bonorum et Malorum</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error </p>
   </div>
   {# <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="text-muted">© 2021 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
   </div> #}
  {#<div id="sidemenu">
    <ul>
      <li>Option #1</li>
      <li>Option #2</li>
      <li>Option #3</li>
    </ul>
  </div>
  <div id="footer">
    <p>Les bases du HTML par Astral Internet</p>
  </div>#}
{# </div> 

{% endblock %}
 #} 

